p {
    font-size: 12px !important;
}
h3 {
    font-size: 14px !important;
}

.left-left {
    margin-right: -11px;
    padding-right: 0;
    margin-left: -10px;
}

.left-right {
    margin-left: 28px;
}

.ec-container {
    display: flex;
    flex-direction: row;
}
.ec-left {
    flex: 1.5
}
.ec-right {
    flex: 1
}